<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">

    <title>1D Heat Transfer Calculator</title>
</head>

<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <a class="navbar-brand" href="#">Heat Transfer Sandwich Calculation</a>
</nav>

<main role="main" class="container">
    <div class="jumbotron">
        <h1>Material Thickness</h1>
        <div>
            <div class="form-group">
                <label for="Material1tkInput">First Material Thickness</label>
                <input type="decimal" class="form-control" id="Material1tkInput" placeholder="Enter Material Thickness [in]">
            </div>

        </div>
    </div>
</main>



<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <a class="navbar-brand" href="#">Heat Transfer Boundary Conditions</a>
</nav>

<main role="main" class="container">
    <div class="jumbotron">
        <h1>Boundary Temperature</h1>
        <div>
            <div class="form-group">
                <label for="tempInput">Input Temperature [F]</label>
                <input type="decimal" class="form-control" id="tempInput" placeholder="Enter Temperature [F]">
            </div>
            <button id="condButton" class="btn btn-primary">Get Air Conductivity</button>
            <div id="AirCondTitle" hidden="false">
                The Air Conductivity is [Btu/(hr*ft*F)]: <span id="AirCondValue">UNKNOWN</span>
            </div>
        </div>
    </div>
</main>

<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <a class="navbar-brand" href="#">Heat Transfer Solution</a>
</nav>

<main role="main" class="container">
    <div class="jumbotron">
        <h1>Temperature Converter</h1>
        <div>
            <div class="form-group">
                <label for="celsiusInput">Input Temperature</label>
                <input type="decimal" class="form-control" id="celsiusInput" placeholder="Enter Celsius Temperature">
            </div>
            <button id="convertButton" class="btn btn-primary">Convert</button>
            <div id="celsiusSolutionTitle" hidden="true">
                The temp in celsius is: <span id="celsiusSolutionValue">UNKNOWN</span>
            </div>
        </div>
    </div>
</main>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script src="static/tempConverter.js"></script>
    <script src="static/AirCond.js"></script>
</body>

</html>